In [21]:
import pandas as pd 
budget = pd.read_csv('C:/Users/linab/Downloads/budget_data.csv')

#The total number of months included in the dataset
len(budget.index)

86

In [26]:
#The net total amount of "Profit/Losses" over the entire period
budget['Profit/Losses'].sum()

22564198

In [98]:
#The changes in "Profit/Losses" over the entire period, and then the average of those changes
budget['Changes']= budget['Profit/Losses'].diff()
budget.loc[:,'Formatted Changes']='$'+budget['Changes'].map('{:,.0f}'.format)
budget['Changes'].mean()

-8311.105882352942

In [133]:
#The greatest increase in profits (date and amount) over the entire period
budget['Changes'].max()
print(budget[['Date', 'Changes']][budget.Changes == budget.Changes.max()])

      Date    Changes
79  Aug-16  1862002.0

In [142]:
#The greatest decrease in profits (date and amount) over the entire period
budget['Changes'].min()
print(budget[['Date', 'Changes']][budget.Changes == budget.Changes.min()])

      Date    Changes
49  Feb-14 -1825558.0

In [152]:
budget.loc['New Changes']= budget['Changes'].astype(float).map('{:,.2f}'.format)
budget.head()

     Date  Profit/Losses    Changes Formatted Changes
0  Jan-10      1088983.0        NaN              $nan
1  Feb-10      -354534.0 -1443517.0       $-1,443,517
2  Mar-10       276622.0   631156.0          $631,156
3  Apr-10      -728133.0 -1004755.0       $-1,004,755
4  May-10       852993.0  1581126.0        $1,581,126